<?xml version="1.0"?>
<robot name="brunhilde" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<ros2_control name="brunhilde" type="system">

    <xacro:macro name="ros2_control_joint" params="link">
			<joint name="${link}">
				<command_interface name="position">
					<param name="min">-0.5</param>
					<param name="max">0.5</param>
				</command_interface>
				<command_interface name="velocity">
					<param name="min">-1</param>
					<param name="max">1</param>
				</command_interface>
				<command_interface name="effort">
					<param name="min">-1</param>
					<param name="max">1</param>
				</command_interface>
				<command_interface name="gain_kp">
					<param name="min">-1000</param>
					<param name="max">1000</param>
				</command_interface>
				<command_interface name="gain_kd">
					<param name="min">-1000</param>
					<param name="max">1000</param>
				</command_interface>
				<state_interface name="position" />
				<state_interface name="velocity" />
				<state_interface name="effort" />
				<state_interface name="gain_kp" />
				<state_interface name="gain_kd" />
				<param name="motor_number">0</param>
				<param name="gear_ratio">9.</param>
				<param name="motor_constant">0.025</param>
				<param name="max_current">12.</param>
				<param name="max_joint_velocity">80.</param>
				<param name="safety_damping">0.5</param>
				<param name="motor_reversed_polarity">true</param>
				<param name="position_offset">0.238</param>
			</joint>
		</xacro:macro>

		<hardware>
			<xacro:if value="${use_sim_hardware}">
        		<plugin>gz_ros2_control/GazeboSimSystem</plugin>
			</xacro:if>

      <!--<xacro:if value="${use_mock_hardware}">
        <plugin>mock_components/GenericSystem</plugin>
        <param name="calculate_dynamics">true</param>
				<param name="state_following_offset">0.0</param>
			</xacro:if>-->

        <xacro:unless value="${use_sim_hardware}">
          <plugin>ros2_control_odri/SystemOdriHardware</plugin>
          <property name="prop_config_yaml" value="$(find brunhilde_description)/config/config_solo8.yaml" />
          <param name="odri_config_yaml">${prop_config_yaml}</param>
          <param name="desired_starting_position">0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0</param>
          <param name="default_joint_cmd">
            FL_HFE 0.0 0.0 0.0 3.0 0.05
            FL_KFE 0.0 0.0 0.0 3.0 0.05
            FR_HFE 0.0 0.0 0.0 3.0 0.05
            FR_KFE 0.0 0.0 0.0 3.0 0.05
            HL_HFE 0.0 0.0 0.0 3.0 0.05
            HL_KFE 0.0 0.0 0.0 3.0 0.05
            HR_HFE 0.0 0.0 0.0 3.0 0.05
            HR_KFE 0.0 0.0 0.0 3.0 0.05
          </param>
          <param name="default_joint_state">
            FL_HFE 0.0 0.0 0.0 3.0 0.05
            FL_KFE 0.0 0.0 0.0 3.0 0.05
            FR_HFE 0.0 0.0 0.0 3.0 0.05
            FR_KFE 0.0 0.0 0.0 3.0 0.05
            HL_HFE 0.0 0.0 0.0 3.0 0.05
            HL_KFE 0.0 0.0 0.0 3.0 0.05
            HR_HFE 0.0 0.0 0.0 3.0 0.05
            HR_KFE 0.0 0.0 0.0 3.0 0.05
          </param>
      </xacro:unless>
		</hardware>

		<xacro:ros2_control_joint link="FL_HFE" />
		<xacro:ros2_control_joint link="FL_KFE" />
		<xacro:ros2_control_joint link="FR_HFE" />
		<xacro:ros2_control_joint link="FR_KFE" />
		<xacro:ros2_control_joint link="HL_HFE" />
		<xacro:ros2_control_joint link="HL_KFE" />
		<xacro:ros2_control_joint link="HR_HFE" />
		<xacro:ros2_control_joint link="HR_KFE" />
	</ros2_control>

	<gazebo>
    <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find brunhilde_control)/config/ros2_control.yaml</parameters>
    </plugin>
	</gazebo>
</robot>
