<?xml version="1.0" ?>
<robot name="brunhilde" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gz_mat" params="link">
    <gazebo reference="${link}">
      <material>
        <ambient>1 0 0 1</ambient>
        <diffuse>1 0 0 1</diffuse>
        <specular>0.1 0.1 0.1 1</specular>
      </material>
    </gazebo>
  </xacro:macro>

  <xacro:gz_mat link="base_link" />
  <xacro:gz_mat link="FL_FOOT" />
  <xacro:gz_mat link="FL_LOWER_LEG" />
  <xacro:gz_mat link="FL_UPPER_LEG" />
  <xacro:gz_mat link="FR_FOOT" />
  <xacro:gz_mat link="FR_LOWER_LEG" />
  <xacro:gz_mat link="FR_UPPER_LEG" />
  <xacro:gz_mat link="HL_FOOT" />
  <xacro:gz_mat link="HL_LOWER_LEG" />
  <xacro:gz_mat link="HL_UPPER_LEG" />
  <xacro:gz_mat link="HR_FOOT" />
  <xacro:gz_mat link="HR_LOWER_LEG" />
  <xacro:gz_mat link="HR_UPPER_LEG" />

  <!--<plugin filename="gz-sim-joint-state-publisher-system"
          name="gz::sim::systems::JointStatePublisher">
    <joint_name>FL_HFE</joint_name>
    <joint_name>FL_KFE</joint_name>
    <joint_name>FR_HFE</joint_name>
    <joint_name>FR_KFE</joint_name>
    <joint_name>HL_HFE</joint_name>
    <joint_name>HL_KFE</joint_name>
    <joint_name>HR_HFE</joint_name>
    <joint_name>HR_KFE</joint_name>
  </plugin>-->

</robot>
