<?xml version="1.0"?>
<robot name="watschel" xmlns:xacro="http://www.ros.org/wiki/xacro">

  	<xacro:arg name="use_sim_hardware" default="true"/>
	<xacro:arg name="use_mock_hardware" default="false"/>
	<xacro:arg name="use_real_hardware" default="false"/>


	<ros2_control name="watschel_mimics" type="system">
    <xacro:macro name="ros2_control_joint" params="link mimic">
			<joint name="${link}">

				<state_interface name="position" />
				<state_interface name="velocity" />
				<state_interface name="effort" />
				<mimic joint="${mimic}" multiplier="1" offset="0"></mimic>
			</joint>
		</xacro:macro>

		<hardware>
			<xacro:if value="$(arg use_sim_hardware)">
        		<plugin>gz_ros2_control/GazeboSimSystem</plugin>
			</xacro:if>

			<xacro:if value="$(arg use_mock_hardware)">
				<plugin>mock_components/GenericSystem</plugin>
				<param name="state_following_offset">0.0</param>
			</xacro:if>

			<xacro:if value="$(arg use_real_hardware)">
				<plugin>ros2_control_odri/SystemOdriHardware</plugin>
				<xacro:property name="prop_config_yaml" value="$(find watschel_description)/config/config_solo8.yaml" />
				<param name="odri_config_yaml">${prop_config_yaml}</param>
				<param name="desired_starting_position">0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0</param>
				<param name="default_joint_cmd">
					left_hip_joint 0.0 0.0 0.0 3.0 0.05
					right_hip_joint 0.0 0.0 0.0 3.0 0.05
					lower_leg_right_joint 0.0 0.0 0.0 3.0 0.05
					lower_leg_left_joint 0.0 0.0 0.0 3.0 0.05
				</param>
				<param name="default_joint_state">
					left_hip_joint 0.0 0.0 0.0 3.0 0.05
					right_hip_joint 0.0 0.0 0.0 3.0 0.05
					lower_leg_right_joint 0.0 0.0 0.0 3.0 0.05
					lower_leg_left_joint 0.0 0.0 0.0 3.0 0.05
				</param>
			</xacro:if>
		</hardware>

		<xacro:ros2_control_joint link="foot_left_joint" mimic="left_knee_joint"/>
	</ros2_control>

	<xacro:if value="$(arg use_sim_hardware)">
		<gazebo>
			<plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
				<parameters>$(find watschel_control)/config/ros2_control.yaml</parameters>
				<parameters>$(find watschel_control)/config/ros2_control_gz_time.yaml</parameters>
				<robot_param>robot_description</robot_param>
				<robot_param_node>robot_state_publisher</robot_param_node>
			</plugin>
		</gazebo>
	</xacro:if>
</robot>
